/task-manager/node_modules/
/task-manager/.env
/node-fundamentals/node_modules/
/06.5-jobster-api/node_modules/
/06.5-jobster-api/.env
/07-file-upload/node_modules/
/07-file-upload/.env
/08-send-email/node_modules/
/08-send-email/.env
/09-stripe-payment/node_modules/
/09-stripe-payment/.env
/10-e-commerce-api/node_modules/
/10-e-commerce-api/.env